#play-area {
  font-size: 8%;
  font-family: 'DIN Condensed';

  .Space#germany {
    img#germany {
      width: 166.67%;
      height: 100%;
      position: absolute;
      left: -5%;
    }
  }

  #deck, #powerplants, #resources, .PlayerMat {
    background: #fffa
  }

  .City {
    &.hilite svg {
      filter: drop-shadow(0em 0em 1em yellow)
    }
    .name {
      color: black;
      background: black;
      padding: 5%;
      position: absolute;
      bottom: -20%;
      font-size: 120%;
      width: 100%;
      text-align: center;
      > div {
        background: white
      }
    }
    &[data-zone="green"] {
      color: green;
    }
    &[data-zone="red"] {
      color: red;
    }
    &[data-zone="brown"] {
      color: brown;
    }
    &[data-zone="yellow"] {
      color: #550;
    }
    &[data-zone="blue"] {
      color: blue;
    }
    &[data-zone="purple"] {
      color: purple;
    }
    .Building svg {
      filter: drop-shadow(1em 1em 1em black);
    }
  }

  .ResourceSpace .cost {
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    height: 100%;
    z-index: 10;
    color: white;
    font-size: 600%;
    text-align: center;
    font-weight: bold;
    &.empty {
      color: black;
    }
  }

  .Resource {
    background: none;
  }

  .Building {
    background: none;
  }

  .Card {
    background: none;
    > div.outer {
      border-radius: 7%;
      border: .1em solid white;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      background: #999;
      img.background {
        left: 7%;
        top: 7%;
        width: 86%;
        height: 70%;
        position: absolute;
      }
      > div.inner {
        box-sizing: border-box;
        border-radius: 4%;
        border: 0.1em solid black;
        position: absolute;
        left: 7%;
        top: 7%;
        width: 86%;
        height: 86%;
        .cost {
          font-weight: bold;
          color: white;
          text-shadow:
            0.1em 0 0 #000,
            -0.05em 0 0 #000,
            0 -0.05em 0 #000,
            0 0.1em 0 #000,
            0.1em -0.05em 0 #000,
            -0.05em -0.05em 0 #000,
            0.1em 0.1em 0 #000,
            -0.05em 0.1em 0 #000;
          font-size: 280%;
          position: absolute;
          left: -3%;
          top: -5%;
          .old-cost {
            text-decoration: line-through;
            vertical-align: text-top;
          }
          .new-cost {
            font-size: 140%;
            color: yellow;
            vertical-align: text-top;
          }
        }
        .production {
          position: absolute;
          width: 100%;
          height: 20%;
          left: 0%;
          bottom: 0%;
          &.oil {
            background: #555;
          }
          &.coal, &.hybrid {
            background: #a17c45;
          }
          &.garbage {
            background: #fc6;
          }
          &.uranium {
            background: #d44;
          }
          &.clean {
            background: #35f;
          }
          text-align: center;
          > img {
            width: 15%;
            height: 70%;
            top: -10%;
            position: relative;
            margin: 1%;
          }
          > svg {
            top: 0%;
            position: relative;
            width: 22%;
            height: 100%;
          }
        }
        .hybrid2 {
          background: #555;
          position: absolute;
          top: 50%;
          height: 50%;
          width: 100%;
        }
      }
    }
    .Resource {
      &.hilite {
        img {
          filter: drop-shadow(1em 1em 1em yellow)
        }
      }
      img {
        filter: drop-shadow(1em 1em .5em #222)
      }
    }
  }

  &.fluid {
    .ResourceSpace {
      display: inline-block;
    }

    .City {
      display: inline-block;
    }

    .PlayerMat .Building {
      display: none;
    }
  }
}
