#play-area {
  .City {
    &[data-zone="green"] {
      color: green;
    }
    &[data-zone="red"] {
      color: red;
    }
    &[data-zone="brown"] {
      color: brown;
    }
    &[data-zone="yellow"] {
      color: #550;
    }
    &[data-zone="blue"] {
      color: blue;
    }
    &[data-zone="purple"] {
      color: purple;
    }
  }

  &.fluid {
    .ResourceSpace {
      display: inline-block;
    }

    .City {
      display: inline-block;
    }

    .PlayerMat .Building {
      display: none;
    }
  }
}
